<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>日誌削除確認</title>
</head>
<body>
<div th:fragment="diaryDeleteCheck_contents">
  <div class="col-10 col-md-6 col-lg-4 center">
    <h3 class="text-center mb-5">日誌削除確認</h3>

    <form action="/diaryDeleteComplete" method="post" th:object="${studentDiaryForm}">
      <table class="table table-bordered table-striped">
        <tr class="row">
          <th class="col-4">登録日</th>
          <td class="col-8" th:text="*{insertDate}"></td>
        </tr>
        <tr class="row">
          <th class="col-4">良い点</th>
          <td class="col-8" th:text="*{goodPoint}"></td>
        </tr>
        <tr class="row">
          <th class="col-4">悪い点</th>
          <td class="col-8" th:text="*{badPoint}"></td>
        </tr>
        <tr class="row">
          <th class="col-4">学生コメント</th>
          <td class="col-8" th:text="*{studentComment}"></td>
        </tr>
      </table>

      <input type="hidden" name="insertDate" th:value="*{insertDate}">
      <button type="submit" class="col-5 btn btn-danger btn-lg mx-auto mb-2 float-right">削除する</button>
    </form>

    <form action="/diaryManage" method="post">
      <button type="submit" class="col-5 btn btn-outline-dark btn-lg mx-auto float-left">戻る</button>
    </form>
  </div>
</div>
</body>
</html>
