<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>日誌一覧</title>
</head>

<body>
<div th:fragment="diaryList_contents">
  <div class="col-12 col-lg-8 mx-auto">
    <h3 class="text-center mb-5">日誌管理画面</h3>

    <form action="/diaryInsert" method="get" class="text-right mb-3">
      <button type="submit" class="col-12 col-md-6 btn btn-primary btn-lg">日誌登録</button>
    </form>

    <form action="/diaryManage" method="post" th:object="${diaryManageSortForm}" class="row mb-3">
      <select th:field="*{sortOptionCol}" class="col-5 custom-select m-0">
        <option th:each="items:${sortOptionCol}" th:value="${items.key}" th:text="${items.value}"></option>
      </select>

      <select th:field="*{sortOptionOrder}" class="col-5 custom-select m-0">
        <option th:each="items:${sortOptionOrder}" th:value="${items.key}" th:text="${items.value}"></option>
      </select>

      <button type="submit" class="col-2 btn btn-primary m-0">ソート</button>
    </form>

    <table th:each="diary:${diaryList}" class="table table-hover table-bordered shadow-sm mb-5">
      <tr class="row">
        <th class="col-4">登録日</th>
        <td class="col-8" th:text="${diary.insertDate}"></td>
      </tr>

      <tr class="row">
        <th class="col-4">良い点</th>
        <td class="col-8" th:text="${diary.goodPoint}"></td>
      </tr>

      <tr class="row">
        <th class="col-4">悪い点</th>
        <td class="col-8" th:text="${diary.badPoint}"></td>
      </tr>

      <tr class="row">
        <th class="col-4">学生コメント</th>
        <td class="col-8" th:text="${diary.studentComment}"></td>
      </tr>

      <tr>
        <td class="col-12 text-center" colspan="2">
          <button type="submit" class="col-4 btn btn-warning text-dark">修正</button>
          <button type="submit" class="col-4 btn btn-danger">削除</button>
        </td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>
