<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>日誌一覧</title>
</head>

<body>
<div th:fragment="diaryManage_contents">
  <div class="col-12 col-lg-8 mx-auto">
    <h3 class="text-center mb-5">日誌管理画面</h3>

    <!--日誌登録-->
    <form action="/diaryInsertInput" method="get" class="text-right mb-3">
      <button type="submit" class="col-12 col-md-6 btn btn-primary btn-lg">日誌登録</button>
    </form>

    <!--ソート-->
    <form action="/diaryManage" method="post" th:object="${diarySortForm}" class="row mb-3">
      <select th:field="*{sortOptionCol}" class="col-5 custom-select m-0">
        <option th:each="items:${sortOptionCol}" th:value="${items.key}" th:text="${items.value}"></option>
      </select>

      <select th:field="*{sortOptionOrder}" class="col-5 custom-select m-0">
        <option th:each="items:${sortOptionOrder}" th:value="${items.key}" th:text="${items.value}"></option>
      </select>

      <button type="submit" class="col-2 btn btn-primary m-0">ソート</button>
    </form>

    <!--検索-->
    <form action="/diaryManageSearch" method="post" th:object="${diarySearchForm}" class="row form-group mb-3">
      <input type="text" th:field="*{searchWord}" placeholder="検索したいワードを入力してください" class="col-10 form-control m-0" required>
      <button type="submit" class="col-2 btn btn-primary m-0">検索</button>
      <span th:if="${#fields.hasErrors('searchWord')}" th:errors="*{searchWord}" class="text-danger"></span>
    </form>

    <!--日誌リスト-->
    <table th:each="diary:${diaryList}" class="table table-hover table-bordered shadow-sm mb-5">
      <tr class="row">
        <th class="col-4">登録日</th>
        <td class="col-8" th:text="${diary.insertDate}"></td>
      </tr>

      <tr class="row">
        <th class="col-4">良い点</th>
        <td class="col-8" th:text="${diary.goodPoint}"></td>
      </tr>

      <tr class="row">
        <th class="col-4">悪い点</th>
        <td class="col-8" th:text="${diary.badPoint}"></td>
      </tr>

      <tr class="row">
        <th class="col-4">学生コメント</th>
        <td class="col-8" th:text="${diary.studentComment}"></td>
      </tr>

      <tr>
        <td class="col-12 text-center" colspan="2">
          <form action="/diaryUpdateInput" method="get" th:object="${studentDiaryForm}">
            <input type="hidden" name="insertDate" th:value="${diary.insertDate}">
            <input type="hidden" name="goodPoint" th:value="${diary.goodPoint}">
            <input type="hidden" name="badPoint" th:value="${diary.badPoint}">
            <input type="hidden" name="studentComment" th:value="${diary.studentComment}">
            <button type="submit" class="col-4 btn btn-warning text-dark">修正</button>
          </form>
          <button type="submit" class="col-4 btn btn-danger">削除</button>
        </td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>
