<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>学生</title>

  <!--bootstrap-->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
  <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</head>
<body class="text-center">
<form action="diaryManage" method="get">
  <button type="submit" class="btn btn-primary">日誌管理</button>
</form>
<form action="diaryView" method="get">
  <button type="submit" class="btn btn-success">日誌閲覧</button>
</form>
</body>
</html>
