<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta charset="UTF-8">

  <title th:text="${title}"></title>

  <!--bootstrap-->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
  <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

  <link rel="stylesheet" href="css/common.css">
</head>

<body class="container-fluid">
<header class="sticky-top bg-dark text-white pl-2 py-1 mb-3">
  <h1><a href="/studentMenu" class="text-white">クラス日誌管理システム</a></h1>
  <div class="row">
    <h5 th:text="${session.student.getStudentName()} + 'さん'" class="text-white text-left col-6 p-0"></h5>
    <form action="" method="post" class="text-right col-6">
      <button class="btn btn-secondary">ログアウト</button>
    </form>
  </div>
</header>

<div th:include="__${contents}__"></div>

<footer class="fixed-bottom bg-dark p-3"></footer>
</body>
</html>
