<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>コメント修正確認</title>
</head>
<body>
<div th:fragment="commentUpdateCheck_contents">
  <div class="col-10 col-md-6 col-lg-4 center">
    <h3 class="text-center mb-5">コメント修正確認</h3>

    <form action="/commentUpdateComplete" method="post" th:object="${diaryForm}">
      <table class="table table-bordered table-striped">
        <tr class="row">
          <th class="col-4">登録日</th>
          <td class="col-8" th:text="*{insertDate}"></td>
        </tr>
        <tr class="row">
          <th class="col-4">良い点</th>
          <td class="col-8" th:text="*{goodPoint}"></td>
        </tr>
        <tr class="row">
          <th class="col-4">悪い点</th>
          <td class="col-8" th:text="*{badPoint}"></td>
        </tr>
        <tr class="row">
          <th class="col-4">学生コメント</th>
          <td class="col-8" th:text="*{studentComment}"></td>
        </tr>
        <tr class="row">
          <th class="col-4">教員コメント</th>
          <td class="col-8" th:text="*{teacherComment}"></td>
        </tr>
      </table>

      <button type="submit" class="col-5 btn btn-primary btn-lg mx-auto mb-2 float-right">更新する</button>
    </form>

    <form action="/commentUpdateInput" method="post" th:object="${diaryForm}">
      <input type="hidden" name="insertDate" th:value="*{insertDate}">
      <input type="hidden" name="classCode" th:value="*{classCode}">
      <input type="hidden" name="goodPoint" th:value="*{goodPoint}">
      <input type="hidden" name="badPoint" th:value="*{badPoint}">
      <input type="hidden" name="studentComment" th:value="*{studentComment}">
      <input type="hidden" name="teacherComment" th:value="*{teacherComment}">
      <button type="submit" class="col-5 btn btn-outline-dark btn-lg mx-auto float-left">戻る</button>
    </form>
  </div>
</div>
</body>
</html>
