<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>教員メニュー</title>
</head>

<body>
<div th:fragment="teacherMenu_contents">
  <div class="col-6 col-sm-5 col-md-4 col-lg-3 center">
    <h3 class="text-center mb-5">教員メニュー</h3>

    <form action="diaryManage" method="post" class="text-center mb-5">
      <button type="submit" class="btn btn-primary btn-lg btn-block">コメント管理</button>
    </form>

    <form action="diaryDisplay" method="post" class="text-center">
      <button type="submit" class="btn btn-success btn-lg btn-block">日誌閲覧</button>
    </form>
  </div>
</div>
</body>
</html>
