<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ログイン</title>

  <!--bootstrap-->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
  <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

  <link rel="stylesheet" href="css/common.css">
</head>
<body class="container-fluid">
<header class="bg-dark text-white pl-2 pt-1 pb-1 mb-3">
  <h1>クラス日誌管理システム</h1>
</header>

<h1 class="text-center mb-3">ログイン</h1>

<form action="/auth" method="post" th:object="${loginForm}" class="col-6 col-sm-5 col-md-4 col-lg-3 mr-auto ml-auto">
  <div class="form-group mb-3" th:classappend="${#fields.hasErrors('studentId')}?'has-error'">
    <label>ユーザーID</label>
    <input type="text" name="studentId" th:field="*{studentId}" class="form-control" maxlength="7" required>
    <span class="text-danger" th:if="${#fields.hasErrors('studentId')}" th:errors="*{studentId}"></span>
  </div>

  <div class="form-group mb-5" th:classappend="${#fields.hasErrors('studentPassword')}?'has-error'">
    <label>パスワード</label>
    <input type="password" name="studentPassword" th:field="*{studentPassword}" class="form-control" maxlength="128"
           required>
    <span class="text-danger" th:if="${#fields.hasErrors('studentPassword')}" th:errors="*{studentPassword}"></span>
  </div>

  <div class="text-center">
    <button class="btn btn-primary btn-lg mr-auto ml-auto" type="submit">ログイン</button>
  </div>
</form>
</body>
</html>
