<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ログイン</title>

  <!--bootstrap-->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
  <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</head>
<body class="text-center">
<h1>Login</h1>
<form action="/login" method="post" th:object="${loginForm}">
  <p th:if="${session['SPRING SECURITY LAST EXCEPTION']} != null" th:text="${session['SPRING SECURITY LAST EXCEPTION'].message}" class="text-danger"></p>

  <label>ユーザーID</label>
  <input type="text" name="userId" th:field="*{id}">
  <br>
  <br>
  <label>パスワード</label>
  <input type="password" name="password" th:field="*{password}">
  <br>
  <br>
  <button class="btn btn-primary" type="submit">ログイン</button>
</form>
<br>
</body>
</html>
