<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ログイン</title>

  <!--bootstrap-->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
  <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</head>
<body class="text-center">
<h1>Login</h1>
<form action="/auth" method="post" th:object="${loginForm}">

  <div class="form-group" th:classappend="${#fields.hasErrors('studentId')}?'has-error'">
    <label>ユーザーID</label>
    <input type="text" name="studentId" th:field="*{studentId}" maxlength="7" required>
    <span class="text-danger" th:if="${#fields.hasErrors('studentId')}" th:errors="*{studentId}"></span>
  </div>
  <br>
  <br>
  <div class="form-group" th:classappend="${#fields.hasErrors('studentPassword')}?'has-error'">
    <label>パスワード</label>
    <input type="password" name="studentPassword" th:field="*{studentPassword}" maxlength="128" required>
    <span class="text-danger" th:if="${#fields.hasErrors('studentPassword')}" th:errors="*{studentPassword}"></span>
  </div>
  <br>
  <br>
  <button class="btn btn-primary" type="submit">ログイン</button>
</form>
</body>
</html>
